<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./estilos.css">
  <div style="text-align: center; text-align: center;"> <%- include('header') %></div>
</head>
<div class="container">

  <!-- TABLA PARA LA CONTENIDO-->
  <body>
    <div>
      <div style="font-size:18px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;"> <strong>DATOS TÉCNICOS DEL PROYECTO</strong> </div>
      <br>
      <div style="font-size: 16px; text-align: left; background-color:#004D40; color: lemonchiffon;">I. DATOS GENERALES DEL PROYECTO: </div>
      <table
        style="
          margin-left: 2px;
          margin-right: 2px;"
        >
        <tr>
          <td>
            <section style="text-align: left;"><strong>Nombre del Proyecto:</strong></section>
          </td>
          <td colspan="2">
            <section class="text-left"> <%= datos.nombre %></section>
          </td>
        </tr>
        <tr>
          <td>
            <section style="text-align: left;"><strong> Comunidad:</strong></section>
          </td>
          <td colspan="2">
            <section style="text-align: left;"> <%= datos.comunidad.nombre %></section>
          </td>
        </tr>
        <tr>
          <td>
            <section style="text-align: left;"><strong class="fs-1"> Poa:</strong></section>
          </td>
          <td colspan="2">
            <section style="text-align: left;"> <%= datos.poa.nombre %></section>
          </td>
        </tr>
        <tr>
          <td>
            <section style="text-align: left;"><strong class="fs-1"> Costo del Proyecto:</strong></section>
          </td>
          <td colspan="2">
            <section style="text-align: left; ">Bs. <%= datos.poa.monto %></section>
          </td>
        </tr>
        <tr>
          <td>
            <section style="text-align: left;"><strong class="fs-1">Empresa Ejecutora:</strong></section>
          </td>
          <td colspan="2">
            <section style="text-align: left; "> <%= datos.empresa.nombre %></section>
          </td>
        </tr>
        <tr>
          <td>
            <section style="text-align: left;"><strong class="fs-1">Fecha Inicio de Obras:</strong></section>
          </td>
          <td colspan="2">
            <section style="text-align: left;"> <%= datos.fechaInicio %></section>
          </td>
        </tr>
        <tr>
          <td>
            <section style="text-align: left;"><strong class="fs-1">Fecha Prevista de Entrega:</strong></section>
          </td>
          <td colspan="2">
            <section style="text-align: left;"> <%= datos.fechaFinal %></section>
          </td>
        </tr>
      </table>
      <h1 style="font-size: 15px; text-align: left; background-color:#004D40; color: lemonchiffon;">II.OBSERVACIONES: </h1>
    </div>  
  </body>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div style="text-align: center; text-align: center;"> <%- include('footer') %></div>
</div> 
</html>