<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= host %>estilos2.css">
  <div style="text-align: center; text-align: center;"> <%- include('header') %></div>
</head>
<div>
  <!-- TABLA PARA LA CONTENIDO-->
  <body>
    <div>
      <div style="text-align: left; font-size: 12px;"> <strong> Nombre del Proyecto: </strong> <%= datos[0].proyecto.nombre %> </div> <br>
      <div style="font-size: 16px; text-align: center; background-color:#004D40; color: lemonchiffon;">CRONOGRAMA DEL PROYECTO </div>
      <table class="table-container" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Actividad</th>
                <th>Fecha Inicio</th>
                <th>Fecha Final</th>
                <th>Estado</th>
                <th>Obs.</th> 
            </tr>
        </thead>
        <tbody>
            <% for( i=0; i < datos.length; i++){ %>
            <tr>
                <td><%= i+1 %></td>
                <td><%= datos[i].nombre %></td>
                <td><%= datos[i].actividad %></td>
                <td><%= datos[i].fecIniCronograma %></td>
                <td><%= datos[i].fecFinCronograma %></td>
                <td><%= datos[i].estadoActividad %></td>
                <td><%= datos[i].observacion %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    </div>  
  </body>
</div> 
</html>