<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= host %>css/unipersonal.css">
  <title>Proyecto</title>
</head>
<body>
  <div class="container">
    <div class="esquina esquina-top"></div>
    <div class="esquina esquina-right"></div>
    <div class="esquina esquina-bottom"></div>
    <div class="esquina esquina-left"></div>
    <div class="border-certificado"></div>
    <div class="certificado">
      <header class="fs-1 mt-2">Proyecto X</header>
      <section class="fs-1 text-center mt-1"><%= datos.objetoSocial %></section>
      <section class="text-center"><strong class="fs-1">proyecto a:</strong><%= datos.nombre %></section>
      <hr>
      <div class="decreto fs1_2em text-justify">
        Mediante el Codigo de Comercio por Resolucion Suprema Nº 167823 de 7 de mayo de 1973 y Decreto Supremo Nº 11007 de 31 de julio 1973, se
        dispuso que con caracter previo y antes de su vigencia sea coordinado y revisado con el fin de evitar contradicciones e interpretacion que desnaturalicen el espiritu del
        mismo, trabajo que fue encomendado a una Comision designada para tal efecto.
      </div>
      <section class="text-center primary--color ma-3"><strong>NIT: <%= datos.nit %></strong></section>
      <section class="text-left"><strong class="fs-1">Nombres:</strong> <%= datos.nombre %></section>
      <section class="text-center fecha--certificado fs-1">La Paz - Bolivia, <%= datos.now %></section>       
    </div>
  </div>
</body>
</html>
